In [1]:
import pandas as pd

linkGH= "https://github.com/Ciencia-de-datos-espaciales-2023-2/S4_LimpiezaDeDatos_Ejercicio1/raw/main/carbonCleaned.csv"
carbonCleaned = pd.read_csv(linkGH)
carbonCleaned

,Unnamed: 0,name,value,carbon_date,region
0,0,China,1.077325e+10,2019,East and Southeast Asia
1,1,United States,5.144361e+09,2019,North America
2,2,India,2.314738e+09,2019,South Asia
3,3,Russia,1.848070e+09,2019,Central Asia
4,4,Japan,1.103234e+09,2019,East and Southeast Asia
...,...,...,...,...,...
213,213,Antarctica,2.800000e+04,2019,Antarctica
214,214,"Saint Helena, Ascension, and Tristan da Cunha",1.300000e+04,2019,Africa
215,215,Niue,8.000000e+03,2019,Australia and Oceania
216,216,Northern Mariana Islands,0.000000e+00,2019,Australia and Oceania
217,217,Tuvalu,0.000000e+00,2019,Australia and Oceania